table{
    margin: auto;
    margin-top: 50px;


}
.om1{
    font-size: large;
    width: 19%;
    background-color: black;
    color: antiquewhite;
   text-align: center;
}
.om2{
    text-align: center;
    font-size: x-large;
   
}